.rect {
  position: absolute;
  left: 8.21%;
  right: 8.21%;
  top: 49.41%;
  bottom: 44.91%;

  background: #ffffff;
  box-shadow: 0px 1px 8px rgba(20, 46, 110, 0.1);
  border-radius: 20px;
}

.call {
  position: absolute;
  width: 38px;
  height: 38px;
  left: 268px;
  top: 50px;
}

.notification {
  position: absolute;
  width: 32px;
  height: 32px;
  left: 331px;
  top: 53px;
}
